{% extends 'admin/change_list.html' %}

{% block object-tools-items %}
    {{ block.super }}

    <li>
        <a href="{% url 'descargar_plantilla' cl.opts.model_name %}" 
           class="inline-flex items-center gap-2 font-medium py-2 px-3 rounded-lg border border-border bg-background hover:bg-slate-50 dark:hover:bg-neutral-800 text-slate-700 dark:text-slate-300 text-sm transition-colors shadow-sm cursor-pointer mr-2">
            <span class="material-symbols-outlined text-lg text-emerald-600">download_for_offline</span>
            Descargar plantilla Excel
        </a>
    </li>

    <li>
        <form id="form-carga-masiva" action="/admin/{{ cl.opts.app_label }}/{{ cl.opts.model_name }}/importar-excel/" method="POST" enctype="multipart/form-data" style="display: none;">
            {% csrf_token %}
            <input type="file" id="input-excel-oculto" name="excel_file" accept=".xlsx, .xls" onchange="document.getElementById('form-carga-masiva').submit();">
        </form>

        <a href="javascript:void(0);" onclick="document.getElementById('input-excel-oculto').click();"
           class="inline-flex items-center gap-2 font-medium py-2 px-3 rounded-lg border border-border bg-background hover:bg-slate-50 dark:hover:bg-neutral-800 text-slate-700 dark:text-slate-300 text-sm transition-colors shadow-sm cursor-pointer mr-2">
            <span class="material-symbols-outlined text-lg text-emerald-600">upload_file</span>
            Carga Masiva (Excel)
        </a>
    </li>
{% endblock %}